[Unit]
Description=Runs the pihub.service every 10 minutes
Requires=pihub.service

[Timer]
Unit=pihub.service
OnCalendar=*-*-* 05:00:00

[Install]
WantedBy=basic.target
