[Unit] 
Description=the tracker for pihub.site

[Service] 
Type=simple 
User=root

ExecStart=/opt/pihub-client/scripts/update_pihub.sh

TimeoutStopSec= 180 

[Install] 
WantedBy= multi-user.target
